.navbar-fixed-top {
    z-index: 400;
    top: 0;
    position: fixed !important;
    background-color: #FFF !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0 !important;
    .navbar-brand {
        a {
            .img-responsive {
                margin-top: -5px;
                width: 60px !important;
            }
        }
    }
    .navbar-nav {
        margin-top: -1.2em !important;
        li > a {
            color: #333 !important;
        }
    }
}

.navbar {
    height: 70px;
    position: absolute;
    background: transparent;
    border: none;
    top: 0;
    right: 0;
    left: 0;
    z-index: 300;
    .container {
        max-height: 100%;
        // NAVBAR-HEADER
        .navbar-header {
            height: 70px;
            .navbar-toggle {
                position: relative;
                float: right;
                border: none;
                margin-top: 10px;
                margin-right: 10px;
                padding: 12px 18px 18px;
                border-radius: 0;
                font-size: 11px;
                width: 58px;
                height: 44px;
                background: none;
                .icon-bar {
                    background-color: #FFF;
                    position: relative;
                    display: block;
                    margin-top: 0.9em;
                    border-radius: 0px;
                }
                .icon-bar,
                .icon-bar:before,
                .icon-bar:after {
                    background-color: #FFF;
                    width: 100%;
                    height: .2em;
                }
                .icon-bar:before,
                .icon-bar:after {
                    background-color: #FFF;
                    position: absolute;
                    top: -.55em;
                    left: 0;
                    content: " ";
                }
                .icon-bar:after {
                    top: .55em;
                }
                .icon-bar-dark {
                    background-color: #333;
                }
                .icon-bar-dark,
                .icon-bar-dark:before,
                .icon-bar-dark:after {
                    background-color: #333;
                }
                .icon-bar-dark:before,
                .icon-bar-dark:after {
                    background-color: #333;
                }
            }
            .navbar-toggle:hover,
            .navbar-toggle:active,
            .navbar-toggle:focus,
            .navbar-toggle:visited {
                background: none;
            }
            .navbar-brand {
                display: table-cell;
                vertical-align: middle;
                a {
                    img {
                        width: 100px;
                    }
                }
            }
        }
        .navbar-collapse {
            border: none;
            margin: 0px;
            .navbar-nav {
                margin-top: 0px;
                margin-bottom: 0px;
            }
            .nav {
                .login {
                    a {
                        border-radius: 5px;
                        border: 1px solid #FFF;
                        border-color: rgba(255, 255, 255, 0.13);
                        padding: 10px !important;
                    }
                    a:hover {
                        border-color: #fff;
                        color: #FFF;
                    }
                }
                div > li, li {
                    padding: 30px 0px;
                    a {
                        display: inline;
                        line-height: 50px;
                        font-family: 'Raleway';
                        font-weight: 700;
                        letter-spacing: 0.08em;
                        font-size: 12px;
                        color: #FFF;
                        -webkit-font-smoothing: antialiased;
                        text-transform: uppercase;
                        i {
                            font-size: 20px;
                        }
                    }
                    a:hover {
                        color: #FFF
                    }
                }
            }
        }
    }
}

.nav-toolbar {
  display: block;
  padding: 30px 0px;
  float: left;
  .nav-dropdown {
    background: transparent !important;
    line-height: 38px;
    font-family: Raleway;
    border: none;
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.08em;
    -webkit-font-smoothing: antialiased;
  }
  .nav-dropdown:focus {
    outline: 0 !important;
    color: #FFF;
    box-shadow: none;
  }
  .nav-dropdown-dark,
  .nav-dropdown-dark:focus,
  .nav-dropdown-dark:active,
  .nav-dropdown-dark:visited {
    color: #333;
  }
}

.nav-dropdown-link {
  padding: 0px !important;
  text-align: center;
}
.nav-dropdown-link a {
  display: block !important;
  color: #333 !important;
}

.btn-group.open .nav-dropdown {
  box-shadow: none;
  color: #FFF !important;
}

.btn-group.open .nav-dropdown-dark {
  box-shadow: none;
  color: #333 !important;
}
.open>.dropdown-toggle.btn-default {
  background: transparent !important;
  border: none !important;
}
.navbar-collapse.in {
    overflow-y: visible;
}

// .navbar-fixed
// display: none;
//     background: #FFF !important;
//     position: fixed !important;
//     padding: 15px !important;
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 7px !important;
    border-radius: none;
}

.nav-mobile {
  display: none !important;
}

.fa-mob {
  padding-left:10px;
  padding-right:10px;
}

// MEDIA-QUERIES
@media (min-width: 768px) {
    .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
        float: right;
    }
}

@media (max-width: 767px) {
    .navbar .container .collapsing {
      max-height: 100%
    }
    .navbar .container .navbar-collapse {
        margin-top: 17px;
    }
    .navbar .container .navbar-collapse .nav li {
        padding: 0px;
        line-height: 20px;
    }
    .img-responsive {
        width: 60px !important;
    }
    .nav > li {
        text-align: center;
        background-color: #222;
    }
    .login {

    }
    .nav > li:hover {
        background-color: #444;
        color: #000;
    }
    .navbar-default .navbar-nav > li > a {
        font-size: 1.3em;
        color: #FFF !important;
    }
    .navbar .container .navbar-collapse .nav .login a {
      border: none;
    }
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-nav > li > a:visited,
    .navbar-default .navbar-nav > li > a:active {
        color: #FFF;
    }
    
    .nav-desktop {
      display: none !important;
    }
    .nav-mobile {
      display: block !important;
    }
}
